.DS_Store
*.ini
*.json
*.log
.vcsode
.idea/
__pycache__/
venv/
docs/_build
.vscode/launch.json
tdxlib.code-workspace
.vscode/settings.json
notes.txt
docs/_build
dist/
build/
MANIFEST
testing_*
README
TDXLib.egg-info/